#!/bin/bash

# A script for checking ambe server and restarting as necessary
# Written (badly) by Dave Godfrey M0UPM
# Version 1.0
# Run as a cron job at an interval to suit your needs
# This script assumes you have sshpass installed

# Set sshpass variables
HOST='YOUR.REMOTE.AMBE.SERVER.ADDRESS'
USER='REMOTE SERVER USERNAME'
PORT='22'
PASSWORD='REMOTE SERVER PASSWORD'

# We start by checking the last couple of lines of the log file (in my case /var/log/mesages) for ambed stats that read -1000 (an error)
stats=$(tail -2 /var/log/messages | grep "1000" | awk '{print $10}')
timeout=$(tail -2 /var/log/messages | grep "timeout" | awk '{print $8}')

# Now if we see the dreaded -1000 we want to ssh to the remote ambed server 
# and restart the service or exit this program if we don't

if [[ "$stats" =~ .*"1000".* ]]; then
   sshpass -p $PASSWORD ssh -p $PORT $USER@$HOST sudo systemctl restart ambed
   echo -e "Ambed service restarted"

else echo -e "No Ambed stats errors detected"

fi

if [[ "$timeout" =~ .*"timeout".* ]]; then
   sshpass -p $PASSWORD ssh -p $PORT $USER@$HOST sudo systemctl restart ambed
   echo -e "Ambed service restarted"

else echo -e "NO openstream timeouts detected"

fi



